# Dependências (Nunca suba essa pasta!)
node_modules/

# Variáveis de ambiente (Onde ficam senhas e chaves de API)
.env
.env.local
.env.test

# Logs (Arquivos de erro gerados pelo sistema)
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Configurações de editores de código (Como o arquivo workspace que vimos na foto)
.vscode/
*.code-workspace
.idea/

# Uploads de usuários (Para não encher o GitHub com vídeos de teste)
# Isso ignora os vídeos dentro da pasta, mas mantém a pasta se você quiser
saqua-verde-backend/public/videos/*
!saqua-verde-backend/public/videos/.gitkeep

# Builds e pastas de distribuição
dist/
build/

# Sistema operacional (Arquivos inúteis do Windows/Mac)
Thumbs.db
.DS_Store
